.imgs img{
    width: 100%;
    height: 400px;
    position: absolute;
    margin-top:0;
    margin-bottom: 1%;
    left: 0;
    transition: 1s;
    visibility: hidden;
}
.Snav{

    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    /*top: 0;*/
    left: 0;
    /*background-color: red;*/
}

.SnavUp{
    display: block;
    width: 100%;
    height: 10%;
}
.Scircles{

    display: block;
    width: 15%;
    height: 15%;
    margin-left:2%;
    margin-top: 10%;
    float: right;
    opacity:0;
}
.Scircles ul{
    margin: 0;
    float: left;
    display: block;
    width: 100%;
    height: 100%;
}

.Scircles li{
    list-style: none;
    display: block;
    background-color: rgba(0,0,0,0.70);
    width: 5%;
    height: 100%;
    margin-left: 5%;
    float: left;
    visibility: hidden;

    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.SnavMiddle{
    display: block;
    width: 100%;
    height: 15%;
    margin-top: 10%;
}
.Sleft{
    border-radius: 50%;
    display: block;
    background: #0096d6;
    width: 3%;
    height: 50%;
    float: right;
    margin-right: 3%;
    opacity: 0.2;
}

.Sright{
    border-radius: 50%;
    display: block;
    background: #0096d6;
    width: 3%;
    height: 50%;
    float: left;
    margin-left: 3%;
    opacity: 0.2;
}
.Sleft:hover{
    opacity: 0.9;
}
.Sright:hover{
    opacity: 0.9;
}
.SnavBottom{
    display: block;
    background-color: rgba(0,0,0,0.6);
    width: 50%;
    height: 100px;
    position: absolute;
    margin-top:50px;
    right:0;
}
.SnavBottom p{
    font: normal 200% Arial;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    margin-left: 3%;
    visibility: hidden;
}